*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Signika', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.outer{
    /* filter: blur(0); */
    /* z-index: 1; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #fb57b5, #e94dc0, #d347cc, #b646d8, #9049e3, #7260f1, #4d73fa, #0082ff, #00a1ff, #50bcfe, #8bd4f9, #c4e9f6);
}
.inner{
    /* z-index: 99; */
    height: 85vh;
    width: 95vw;
    background-color: #ffffff54 ;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner .main{
    /* background-color: bltrack; */
    height: 75vh;
    width: 85vw;
}
.main .navbar{
    display: flex;
    background-color: transparent;
    height: 8vh;
    width: 100%;
    /* margin-left: 7vw; */
}
.navbar  .st{
    background-color: transparent;
    height: 100%;
    width: 15vw;
    display: flex;
    align-items: center;
    
}
.navbar  .st>h4{
    color: white;
    font-weight:3200;
    font-size: 1.5vw;
    /* padding-left: 4vw; */
}
.navbar .nd{
    background-color: transparent;
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 1.2vw;
}
.nd h4{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.2vw;
    transition: all ease 0.5s;
    /* padding-left: 2vw; */
    
    text-decoration: none;
}

 .nd h4:hover{
    scale: 1.1;
    border-bottom:1px solid white;
    cursor: pointer;
    /* background-color: #9149e328; */
}
.navbar .rd{
    background-color: transparent;
    height: 100%;
    width: 25vw;
    display: flex;
    align-items: center;
    /* margin-left: 2vw; */
}
.navbar .rd>i{
    padding-left: 4vw;
    color: #ff3696;
    font-size: 2vw;
}
#btn_sbmt{
    color: white;
    font-size: 1.3vw;
    height: 8vh;
    width: 7vw;
    margin-left: 10vw;
    transition: all ease 0.5s;
    border-radius: 2vh;
    border: none;
    background-image: linear-gradient(to right top, #b39c5e, #fab899, #fa7df0, #e04fd9, #d616d0);
}
#btn_sbmt:hover{
    font-size:1.5vw ;
color:#fff;
background-color: white;
scale: 1.1;
background-image: transparent;
}
.content{
    background-color: transparent;
    height: 66.5vh;
    width: 100%;
    display: flex;
    padding-top: 5vh;
}
.left{
    background-color: transparent;
    width: 55%;
    height: 55vh;
    margin-top: 3vh;
}
.info{
    height: 35vh;
   background-color: transparent;
   justify-content: center;
    align-items: center;
}
.info{
display: inline-block;
}
.para{
    color: #ffffff;
    font-size:9vh;          
    border-right: 5px solid rgba(228, 167, 213, 0.281);
    animation: 
    typing 2s forwards infinite ;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
}
.para3{
    color: #ffffff;
    font-size:9vh;          
    border-right: 5px solid rgba(228, 167, 213, 0.281);
    animation: 
    typing 2s forwards infinite  ;
    width: 0;
    animation-delay: 1.1s;
    white-space: nowrap;
    overflow: hidden;
}
.para1{
    font-size:9vh;          
    color: #ffffff;
    border-right: 5px solid rgba(228, 167, 213, 0.281);
    animation: 
    typing 2s forwards infinite ;
    width: 0;
        animation-delay: 0.4s;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
    from{width: 0%}
    to{width: 100%;color:#ff369786;}
    
}
.info h1{
    font-size: 9vh;
    font-weight: 300;
    color: #fff;
    /* line-height: 10vh; */
    padding-top: 3vh;
}
.about{
    padding-top: 6vh;
    background-color: transparent;
}
.about h6{
    font-size: large;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-weight: 500;
    transition: all ease 0.5s;
}
.about h6:hover{
    background-image: linear-gradient(to right bottom, #fb57b5, #e94dc0, #d347cc, #b646d8, #9049e3, #7260f1, #4d73fa, #0082ff, #00a1ff, #50bcfe, #8bd4f9, #c4e9f6);
}
.button{
    background-color: transparent;
    height: 10vh;
    padding-top: 3vh;
}
.button input{
    height: 6.5vh;
    border-radius: 1.5vh;
    border: 1px solid #fff;
    
}
#l_btn{
width: 8vw;
color: #000;
transition: all ease 0.5s;

}
#l_btn:hover{
    cursor: pointer;
background-color: transparent;
color: white;
/* padding-left: 2vw; */
width: 10vw;
/* margin-left: 1.2vw; */
}
#r_btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    width: 8.5vw;
}
#r_btn{
background-color: transparent;
color: #fff;
margin-left: 2vw;
width: 5vw;
transition: all ease 0.5s;

}
.right{
    background-color: transparent  ;
    width: 45%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}
.photo{
    background-color: #000;
    height: 57vh;
    width: 90%;
    border-radius:/*  3vh */1.8vw;
    float: right;
}
.photo img{
    height: 100%;
    width: 100%;
    border-radius:/*  3vh */2vw;
    /* object-fit: cover; */
}
.inp{
    width: 2.5vw;
    margin-left: 1vw;
}